
@model List<string>

    <form asp-controller="FingerJoint" asp-action="GetDataForSelectedName">
    <div class="form-group">
        <label for="selectedName">Search for a patient:</label>
        <input type="text" id="selectedName" name="selectedName" class="form-control" />
    </div>
    <input type="submit" value="Search" class="btn btn-info text-dark" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>Patient Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item</td>
                <td><a asp-controller="FingerJoint" asp-action="GetDataForSelectedName" asp-route-selectedName="@item" class="btn btn-info text-dark">See More</a></td>
            </tr>
        }
    </tbody>
</table>