@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> <a asp-controller="FingerJoint" asp-action="Create" class="btn btn-success text-dark">Add Entry</a></p>
    <p> <a asp-controller="FingerJoint" asp-action="Index" class="btn btn-info text-dark">Patient List</a></p>
</div>

